@font-face {
    font-family: 'QuicksandBold';
    src: url('quicksand/Quicksand_Bold-webfont.eot');
    src: url('quicksand/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand/Quicksand_Bold-webfont.woff') format('woff'),
         url('quicksand/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('quicksand/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBook';
    src: url('quicksand/Quicksand_Book-webfont.eot');
    src: url('quicksand/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand/Quicksand_Book-webfont.woff') format('woff'),
         url('quicksand/Quicksand_Book-webfont.ttf') format('truetype'),
         url('quicksand/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {

	margin:0;
	background: whiteSmoke;
	}
	

#wrapper {
	
	margin:0 auto;
	width:960px;

	
	}
	
#nav {
	
	padding:10px 0 ;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 1px 0px white;
	}
	
#nav h1 {
	
		font-family:'QuicksandBook';
	text-transform:uppercase;
	font-weight:normal;
	margin: 11px 0 0 0;
	
	}
	
#right h2  {
	
		font-family:'QuicksandBold';
	text-transform:uppercase;
	font-weight:normal;
	font-size:90%;
	
	}
	
#title {

	float:left;
	
	}

#breadcrumbs {
	
	float:right;
	margin: 0 12px 0 0;
	width:245px;

}

.home{
	float:left;
	margin:0 5px 0 0;
	}
	
#container {
	
	padding:10px;
	
	}

#left {
	
	float:left;
	width:700px;
	height:100%;
	padding: 0 15px 0 0;
	border-right: 1px solid #ccc;
	box-shadow: 1px 0px 0px #fff;
	
	}

#right {

	float:right;
	width:200px;
	
	}

#cont_img {

	float:left;
	width:110px;

}

#cont_txt {

	float:right;
	margin:120px 10px 0 0;
	
	

}

#cont_txt h3 {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	margin: 0;
	font-size:170%;

}

#cartogram{
	
	width:700px;
	height:400px;
	margin: 0 0 10px 0;
	
	}
	
.Verbania, .Vercelli, .Novara, .Biella, .Torino {
	
	fill:#ccc;
	stroke:none;
	
	}
	
.Cuneo, .Asti, .Alessandria {

	stroke:none;
}

.Cuneo:hover, .Asti:hover, .Alessandria:hover {

/*
	stroke:black;
*/
}
	
#time {	
	
	padding:0 12px;

	}

#slider{
	
	height:7px;
	background: #d9dada; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#d9dada'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#d9dada)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #bbbbbb,  #d9dada); /* for firefox 3.6+ */
	-moz-box-shadow: 0px 1px 0px #fff;
	-webkit-box-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 0px #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#fffff')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#fffff');
	}
	
#line_chart {
		
		margin:10px 0 0 0;
		
		}
		
#icon_chart{

	margin:0 0 25px 0;

}

#switch {
	
	width:197px;
	float:left;
	
	}

#button_switch {
	
	margin:0;
	
	}
	


.ticks{
	
	font-family:"QuicksandBold";
	font-size:95%;
	text-transform:uppercase;
	
	}

.pos_0 {

	text-anchor:left;
	
	}
	
.pos_1, .pos_2, .pos_3, .pos_4 {

	text-anchor:middle;
	
	}
	
.pos_5 {
	
	text-anchor:end;
	}
	
.square_suv_0, .square_sau_0 {

	fill:#ccc;
	stroke:none;
	
	}
	
.square_sau_1 {

stroke:none;


	}

.square_suv_2 {

stroke:none;


	}

.square_suv_1 {



	}
	
.square_sau_2 {




	}

.clear {
	
	clear:both;
	
	}





path {
  
  
}

.gCuneo, .gAsti, .gAlessandria {

fill:none;
	stroke-width:1.5;
}

.Piemonte, .altre {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
  stroke-dasharray: 5,5;
  opacity:1;
}

.borderPiemonte {
  fill: none;
  stroke: gray;
  stroke-width: 1;

}

.sigle{
	
	font-family:"QuicksandBold";
	fill:whiteSmoke;
	font-size:80%;
	
	}

.AlessandriaC, .CuneoC, .AstiC {

cursor: pointer;

}

.sau_l_1{
	stroke:#F4E19B;
	fill:none;
	  stroke-width: 1.5px;

	}
	
.sau_l_2{
	stroke:#ECCB6E;
	fill:none;
	  stroke-width: 1.5px;

	}
	
.sau_l_3{
	stroke:#c2911d;
	fill:none;
	  stroke-width: 1.5px;

	}
	
.suv_l_1{
	stroke:#600919;
	fill:none;
	stroke-width: 1.5px;
	}
	
.suv_l_2{
	stroke:#AE5365;
	fill:none;
	stroke-width: 1.5px;
	}
	
.suv_l_3{
	stroke:#CA8996;
	fill:none;
	stroke-width: 1.5px;
	}

#sliderControl{

margin: 0 0 8px 0;

	}

.timer{
font-family:"QuicksandBold";
padding: 0 0 0 5px;
font-size:90%;
color:gray;
	}

#tooltip { background: white; padding: 5px; border: 1px solid #ddd; position: absolute; font-family:"QuicksandBold"; font-size:90%;}
